.cabecalho {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.menu-lista a {
    padding: 10px 20px;
    color: #141414;
    font-size: 1.125rem;
    line-height: 1.3;
    text-decoration: none;
    display: block;
}

@media (max-width: 800px) {
    .cabecalho {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .menu-lista a {
        background: #f5f5f5;
        border-radius: 4px;
    }
}

